<div class="body">
  <h1>Create a MoveFree Account</h1>
  <app-input-validator [maxCharLength]=40 placeholder="Username" [required]=true [(text)]="username"></app-input-validator>
  <app-input-validator [maxCharLength]=40 placeholder="Email" [required]=true [(text)]="email"></app-input-validator>
  <app-input-validator placeholder="Password" type="password" [required]=true [(text)]="password" [hasMaxCharLength]=false></app-input-validator>
  <button mat-raised-button (click)="close()" color="accent">Sign Up</button>
  <div class="login-div">
    <span>Already have a account?</span>
    <span class="login-btn">Login</span>
  </div>
</div>
