<div [ngStyle]="{'top': top, 'right': right}" class="menu" [@changeHeightAnimation]="showSubMenu ? 'open' : 'close'">
  <div *ngIf="hasProfile" [routerLink]="profileLink" class="user-div">
    <app-profile-picture [username]="username" size="50px" borderSize="2px"></app-profile-picture>
    <p>{{username}}</p>
  </div>
  <div *ngIf="hasProfile" class="line"></div>
  <app-sub-menu-item *ngFor="let item of menuItems" [arrow]=item.arrow [color]="item.color" [text]="item.name" [icon]="item.icon" (click)="item.click?.emit()"></app-sub-menu-item>
</div>
