<div class="body">
    <img class="background-img" src="../../../../assets/images/background.png" alt="background">
    <div class="info-div">
        <div class="info-divs-wrapper">
            <div class="info-big-div">
                <h1>Spot Finder</h1>
                <h1 class="info-h1">Movement Community</h1>
            </div>
            <div class="info-small-div">
                <p>Explore Spots to move around the world</p>
                <p class="info-p">Find new people with the same hobbies</p>
            </div>
        </div>
        <div class="line-wrapper">
            <div class="line"></div>
        </div>
    </div>
</div>
