div {
  margin-bottom: 1vh;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;

  input {
    width: 95%;
    height: 30px;
    margin-left: 0.7vh;
    margin-bottom: 0.2vh;
    padding: 5px 0 5px 17px;
  }

  textarea {
    padding: 8px;
    resize: none;
    word-break: break-word;
    height: 20vh;
    width: 20vw;
  }

  .input-field {
    border-radius: 5px;
    color: black;
    font-size: 1.1rem;
    border:2px solid #737373;
  }

  .input-field:focus {
    outline: none !important;
    border: 3px solid var(--accent);
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: 0.3s;
    font-size: 13px;

    span {
      margin-right: 10px;
      color: var(--accent);
    }
  }
}


div:focus-within {
  .footer {
    opacity: 100%;
  }
}
