.container {
  border-top: 2px solid white;
  .horizontal-div {
    display: flex;
    flex-direction: row;
  }

  .vertical-div {
    display: flex;
    flex-direction: column;
  }

  gallery {
    width: 58vw;
    height: 57vh;
  }

  app-spot-profile {
    width: 42vw;
    margin: 20px;
  }
}

.spot-loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
