<div class="container">
    <div class="wrapper">
        <img src="assets/world.gif" class="image">
    </div>
    <section>
        <div class="color"></div>
        <div class="color"></div>
        <div class="login-container">
            <div class="login-list">
                <h1>{{isLogin ? "Sign in" : "Create new account"}}</h1>
                <div class="input-fields">
                    <label for="username" [ngClass]="usernameColor">
                        <mat-icon>person</mat-icon>
                        <div style="height: 100%; background: #ffffff55; width: 1px"></div>
                        <input (focusout)="changeUsernameStyle(false)" (focus)="changeUsernameStyle(true)" placeholder="Username" [(ngModel)]="username" id="username">
                    </label>
                    <label *ngIf="!isLogin" for="email" [ngClass]="emailColor">
                        <mat-icon>mail</mat-icon>
                        <div style="height: 100%; background: #ffffff55; width: 1px"></div>
                        <input (focusout)="changeEmailStyle(false)" (focus)="changeEmailStyle(true)" placeholder="Email" [(ngModel)]="email" id="email">
                    </label>
                    <label for="password" [ngClass]="passwordColor">
                        <img (click)="togglePassword()" src="assets/{{passwordIcon}}.png" style="width: 28px; height: 28px; margin-right: -4px">
                        <div style="height: 100%; background: #ffffff55; width: 1px"></div>
                        <input type="{{passwordType}}" (focusout)="changePasswordStyle(false)" (focus)="changePasswordStyle(true)" placeholder="Password" [(ngModel)]="password" id="password">
                    </label>
                </div>
                <button (click)="signUp()" mat-raised-button>{{isLogin ? "Sign in" : "Sign up"}}</button>
                <div *ngIf="isLogin" class="register-div">
                    <label>Don't have an Account?</label>
                    <label (click)="isLogin = false" class="register-btn">Sign up</label>
                </div>
            </div>
        </div>
    </section>
</div>

