<div class="header">
    <div class="profile-overview-div" style="flex: 1">
        <div class="line-div">
            <div class="follow-user-div">
                <div class="profile-pic-placeholder"></div>
                <h1>{{user.username}}</h1>
                <button>{{user.isFollowed ? 'Unfollow' : 'Follow'}}</button>
            </div>
            <div class="line-wrapper">
                <div class="line"></div>
            </div>
            <div class="description-div">
                <div class="profile-pic-placeholder"></div>
                <p>{{user.description}}</p>
            </div>
        </div>
    </div>
  <app-infos [infos]="infos"></app-infos>
  <app-profile-picture [borderSize]="scrWidth > 1200 ? '4px' : '3px'"
                       [size]="scrWidth > 1200 ? '120px' : '100px'"
                       [username]="user.username"></app-profile-picture>
</div>
<app-user-spot-list [username]="user.username"></app-user-spot-list>
