.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding-left: 25px;
  background: var(--primary);

  div {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  .title {
    font-size: 2.8vw;
    cursor: pointer;
    transition: 0.1s;

    &:hover {
      transform: scale(1.01);
    }
  }

  .filter-div {
    margin-left: 10px;
  }

  .title-div, .login-div, .spacer {
    flex: 1;
  }

  p {
    font-size: 24px;
    cursor: pointer;
    transition: 0.1s;

    &:hover {
      transform: scale(1.04);
    }
  }

  .login-div {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;


    .register-p {
      border: 3px solid var(--accent);
      border-radius: 5px;
      padding: 10px 20px;
      margin-left: 5px;
    }

    img, div {
      margin-right: 20px;
    }

    img {
      cursor: pointer;
    }
  }

  app-profile-picture {
    margin-right: 22px;
  }
}

@media all and (max-width: 700px) {
  .header {
    .title {
      font-size: 30px;
    }
  }
}
