<div class="header">
    <div class="title-div">
        <h1 class="title" routerLink="">Spotcheck</h1>
    </div>
    <div class="spacer"></div>
    <div class="filter-div">
        <p routerLink="/About">About</p>
        <p routerLink="/explore">Explore</p>
    </div>
    <div class="spacer"></div>
    <div class="login-div">
        <div *ngIf="!isLoggedIn">
            <p class="login-p" (click)="openLoginDialog()">Login</p>
            <p class="register-p" (click)="openRegisterDialog()">Register</p>
        </div>
        <app-profile-picture *ngIf="isLoggedIn"
                             [isLoggedIn]="isLoggedIn"
                             profilePath="user"
                             size="60px"
                             [username]="username"></app-profile-picture>
    </div>
</div>
