<div class="container" *ngIf="user">
    <app-home-page-header></app-home-page-header>
    <div class="header">
        <app-profile-picture [borderSize]="'4px'"
                             [size]="'100px'"
                             [username]="user.username"></app-profile-picture>
        <div class="user-info-div">
            <h1>{{user.username}}</h1>
            <p>{{user.description}}</p>
        </div>
        <app-infos *ngIf="infos.length > 0" [infos]="infos"></app-infos>
    </div>
    <div class="line"></div>
    <div class="navigation">
        <div>
            <div (click)="changeNavigation('spots')">
                <h1>Spots</h1>
            </div>
            <div (click)="changeNavigation('savedSpots')">
                <h1>Saved Spots</h1>
            </div>
        </div>
        <div class="picked-navigation-line" [@navigationAnimation]="navigation"></div>
    </div>
    <div class="body">
        <div class="spots" [hidden]="navigation === 'savedSpots'">
            <app-user-spot-list [savedSpots]=false [username]="user.username"></app-user-spot-list>
        </div>
        <div class="savedSpots" [hidden]="navigation === 'spots'">
            <app-user-spot-list [savedSpots]=true [username]="user.username"></app-user-spot-list>
        </div>
        <button *ngIf="navigation == 'spots'" (click)="openUploadSpotDialog()" class="upload-spot-button" mat-fab matTooltip="Upload Spot" color="accent">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
