.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-item {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .spots-div {
    position: relative;
    width: 96%;
    height: 96%;
    overflow: hidden;
    animation-name: load-in;
    animation-duration: 1s;
    border-radius: 20px;

    h3 {
      color: white;
      position: absolute;
      top: 25px;
      left: 25px;
      transition: 0.5s;
      opacity: 0;
    }

    .spot-img {
      width: 100%;
      height: 100%;
      transition: 0.5s;
      object-fit: cover;
    }

    .wrapper {
      cursor: pointer;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
  }

  .spots-div:hover {
    h3 {
      opacity: 100%;
    }

    .spot-img {
      opacity: 0.5;
      transform: scale(1.03);
    }
  }
}

.load-new-div {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -100px;

  mat-icon {
    scale: 1.3;
    rotate: 40deg;
    transition: 0.5s;
  }

  button:hover mat-icon {
    transform: rotate(270deg);
  }
}

@media all and (max-width: 1200px) {
  .grid {
    grid-template-columns: auto auto;
  }
}

@media all and (max-width: 700px) {
  .grid {
    grid-template-columns: auto;
  }
}
