* {
  color: white;
}

.custom-select {
  width: 99%;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 2px;

  .selected-option {
    height: 30px;
    padding: 0.5rem;
    border: 2px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: white;

    .arrow-icon {
      border: solid white;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 2px;
      transform: rotate(45deg);
      margin-left: 5px;
    }
  }

  .selected-option.not-picked {
    color: #888;
  }

  .options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    border: 2px solid #ccc;
    border-top: none;
    background-color: var(--primary);
    max-height: 100vh;
    overflow-y: auto;

    .option {
      height: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      cursor: pointer;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        img {
          height: 25px;
          filter: invert(100%);
        }
      }

      &:hover {
        background-color: #002e57;
      }
    }
  }
}
