.spot-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    color: white;
    gap: 40px;
}

.spot-list-container {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1150px) {
    .spot-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 750px) {
    .spot-list {
        grid-template-columns: 1fr;
    }
}
