.menu {
  width: 300px;
  position: fixed;
  top: 10vh;
  right: 50px;
  overflow: hidden;
  background-color: var(--primary);
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  z-index: 1000;

  .user-div {
    cursor: pointer;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 15px;

    p {
      font-size: 1.3rem;
    }
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 10px;
  }
}
