<div class="menu" [@changeHeightAnimation]="showSubMenu ? 'open' : 'close'">
  <div routerLink="profile/{{username}}" class="user-div">
    <app-profile-picture [username]="username" size="50px" borderSize="2px"></app-profile-picture>
    <p>{{username}}</p>
  </div>
  <div class="line"></div>
  <app-sub-menu-item text="Settings" icon="settings"></app-sub-menu-item>
  <app-sub-menu-item text="Support" icon="help"></app-sub-menu-item>
  <app-sub-menu-item text="Logout" icon="exit_to_app" (click)="logout()"></app-sub-menu-item>
</div>
