.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.navigations h2 {
    cursor: pointer;
}

.profile-picture-wrapper {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 1000px;
}

.profile-picture-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 1.5vw;
    object-fit: cover;
    transition: transform 400ms;
    cursor: pointer;
}

.profile-picture-wrapper:hover img {
    transform: scale(1.1);
}

.mobile-navigation-header h3 {
    cursor: pointer;
    height: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background: black;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 -8px 0 -8px;
}

.navigations {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.mobile-navigation-button {
    display: none;
    transform: scale(1.3);
    margin-top: 5px;
    transition: 0.5s;
}

* {
    color: white;
}

@media (max-width: 600px) {
    .navigations {
        display: none;
    }
    .mobile-navigation-button {
        display: block;
    }
}

.mobile-navigation-header {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


